<div class="slide-view" ng-show="isLogin">
    <div class="top-title">
        <h3>Slides Management</h3>
    </div>

</div>

<div class="slide-view" ng-show="isLogin">
    <div class="col-sm-3 pull-right input-group">
        <input type="text" ng-model="searchText" class="form-control onpar" placeholder="Search...">
        <!--<span class="input-group-btn">
            <button class="btn btn-onpar" type="submit">Go!</button>
        </span>-->
    </div><!-- /.col-lg-6 -->
    <div class="pull-left">
        <button type="button" class="btn btn-onpar" ng-click="add_new_slide()"><i class="fa fa-camera-retro"></i>&nbsp;&nbsp;Add Slide</button>
    </div>
    <div class="user-" style="padding-top: 50px; margin-top: 50px;">
        <table class="table table-striped" ng-init="no = 0">
            <thead>
            <tr class='default' style="cursor: pointer;">
                <th class="text-center" style="width:15%" ng-click="sort('id')">Slide ID
                    <span class="glyphicon sort-icon" style="font-size: 15px;" ng-show="sortKey == 'id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>

                <th class="text-center" style="width:15%" ng-click="sort('slidename')">Slide Name
                    <span class="glyphicon sort-icon" style="font-size: 15px;" ng-show="sortKey == 'first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th class="text-center" style="width:15%" ng-click="sort('last_name')">Created By
                    <span class="glyphicon sort-icon" style="font-size: 15px;" ng-show="sortKey == 'last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th class="text-center" style="width:20%" ng-click="sort('user_email')">Owner
                    <span class="glyphicon sort-icon" style="font-size: 15px;" ng-show="sortKey == 'user_email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th class="text-center" style="width:20%">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:searchText|itemsPerPage:8" style="text-align: center;"  current-page="pagination.current">
                <td>
                    {{ user.id || 'empty' }}
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                        <span editable-text="user.first_name" e-name="f" e-form="rowform" e-required>
                            {{ user.first_name || 'empty' }}
                        </span>
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                        <span editable-text="user.last_name" e-name="l" e-form="rowform" e-required>
                            {{ user.last_name || 'empty' }}
                        </span>
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="user.user_email" e-type="email" e-name="e" e-form="rowform" e-required>
                    {{ user.user_email || 'empty' }}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                        <button type="submit" ng-disabled="rowform.$waiting"  class="btn btn-default">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-onpar" ng-dialog="views/update_dialog.html" ng-dialog-controller="UpdateCtrl" ng-dialog-data="{{user}}" ng-dialog-class="ngdialog-theme-default" ng-dialog-show-close="false"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-onpar" style="margin-left: 2px;" ng-click="galleryEdit($index, user.id, user.first_name, user.last_name, user.user_email)"><i class="fa fa-picture-o"></i> Slides</button>
                        <button class="btn btn-onpar" style="margin-left: 2px;" ng-click="removeUser(user.id)"><i class="fa fa-trash-o"></i> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>

